  <div class="well">

    <div class="row">
      <div class="col-xs-2">
        <h4><img src='/assets/<%= Image.find_by_product_id(product.id).path %>' alt="Moustiers Sainte Marie"
                 class="img-rounded" style="width:100px;height:100px">
          </h4>
      </div>
      <div class="col-xs-3">
        <h4><%= product.name %></small></h4>
      </div>
      <div class="col-xs-5">
        <h4><%= product.descr %></small></h4>
      </div>
      <div class="col-xs-2">

        <%= form_for order_item, remote: true do |f| %>
            <h4 class="text-right">Unit Price: <span style="color: green"><%= number_to_currency product.price %></span>
            </h4>

            <div class="input-group">
              <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
              <div class="input-group-btn">
                <%= f.hidden_field :product_id, value: product.id %>
                <%= f.submit "Add to Cart", class: "btn btn-primary" %>
              </div>
            </div>
        <% end %>
      </div>

    </div>
  </div>