<div class="well">

  <div class="row"  >

    <div class="col-xs-2 text-center clickable-area" data-href=<%= product.id %>>

      <% standard_foto_path="logo.jpeg" %>
      <% main_image_path=(Image.where(:product_id => product.id, :is_main => true).first.path) %>
      <% main_image_absent= !File.exist?(Rails.root.join('app', 'assets', 'images', main_image_path)) %>
      <% if !main_image_absent %>
          <h4><%= link_to image_tag(main_image_path, :class => 'img-rounded',
                                    :style => "width:120px;height:120px"), product %></h4>
      <% else %>
          <h4><%= link_to image_tag(standard_foto_path, :class => 'img-rounded',
                                    :style => "width:120px;height:120px"), product %></h4>
      <% end %>

    </div>

    <div class="col-xs-3  clickable-area" data-href=<%= product.id %>>
      <h4><%= product.name %></h4>
    </div>

    <div class="col-xs-4 clickable-area" data-href=<%= product.id %>>
      <h4><%= truncate(product.descr, length: 120) %></h4>
    </div>

    <div class="col-xs-3">
      <%= form_for order_item, remote: true do |f| %>
          <h4 class="text-right">Unit Price: <span style="color: green"><%= number_to_currency product.price %></span>
          </h4>

          <div class="input-group">
            <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
            <div class="input-group-btn">
              <%= f.hidden_field :product_id, value: product.id %>
              <%= f.submit "Add to Cart", class: "btn btn-primary", id:"AddToCart", data:{url:current_user.nil?} %>
            </div>
          </div>
      <% end %>
    </div>

  </div>

</div>