<div class="well ">

  <div class="row">

    <div class="col-md-2 col-xs-6 text-center clickable-area" data-href=<%= product_path(product) %>>

      <% standard_foto_path="logo.jpeg" %>
      <% main_image_check=(Image.where(:product_id => product.id, :is_main => true).first) %>
      <% if !main_image_check.nil? %>
          <% main_image_path=main_image_check.path %>
      <% else %>
          <% main_image_path=standard_foto_path.to_str %>
      <% end %>
      <% main_image_absent= !File.exist?(Rails.root.join('app', 'assets', 'images', main_image_path)) %>
      <% if main_image_absent %>
          <% main_image_path=standard_foto_path %>
      <% end %>
      <h4 style="width:100%"><%= link_to image_tag(main_image_path, :class => 'img-rounded',
                                                   :style => "width:100%"), product %></h4>


    </div>

    <div class="col-md-3 col-xs-6  clickable-area" data-href=<%= product_path(product) %>>
      <h4><%= product.name %></h4>
    </div>

    <div class="col-md-4 col-xs-12 clickable-area" data-href=<%= product_path(product) %>>
      <h4><%= truncate(product.descr, length: 120) %></h4>
    </div>

    <div class="col-md-3 col-xs-12">
      <%= form_for order_item, remote: true do |f| %>
          <h4 class="text-right">Unit Price: <span style="color: green"><%= number_to_currency product.price %></span>
          </h4>

          <div class="input-group">
            <%= f.number_field :quantity, value: 1, class: "form-control bl", min: 1 %>
            <div class="input-group-btn">
              <%= f.hidden_field :product_id, value: product.id %>
              <%= f.submit "Add to Cart", class: "btn btn-warning", id: "AddToCart", data: {url: current_user.nil?} %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>