<div id="products">
  <h2 class="text-center">Products for Sale</h2>

  <div class="row">
    <div class="col-xs-2">
      <div id="first_menu_block">
        <%= form_tag(products_path, :method => "get", :class=>"form-search") do %>

            <input class="input-medium search-query col-xs-8 " id="search" name="search" type="text" value=""
                   placeholder="Search"/>

            <%= button_tag "Go", {class: "btn btn-default btn-md"} %>

        <% end %>

      </div>
      <br>

      <div id="second_menu_block">
        <%= link_to "Low price (< 3$)", products_index_url+"?price=low", class: "btn btn-default", style: "width:150px;" %>
        <%= link_to "High price ( > 3$)", products_index_url+"?price=high", class: "btn btn-default" , style: "width:150px;"%>
        <%= link_to "All prices", products_index_url+"?price=all", class: "btn btn-default" , style: "width:150px;"%>
      </div>
    </div>
    <div class="col-xs-10">
      <% @products.each do |product| %>
          <%= render "product_row", product: product, order_item: @order_item %>
      <% end %>
    </div>
  </div>
</div>