<div id="product_info" class="well">
  <h2 class="text-center">  <%= @product.name %>
  </h2>

  <div class="row">
    <div class="col-xs-3">
      <div class="text-center">
        <% standard_foto_path="logo.jpeg" %>
        <% main_image_path=(Image.where(:product_id => @product.id, :is_main => true).first.path) %>
        <% main_image_absent= !File.exist?(Rails.root.join('app', 'assets', 'images', main_image_path)) %>
        <% if !main_image_absent %>
            <%= image_tag(main_image_path, :class => 'img-rounded',
                          :style => "width:275px;height:auto") %>
        <% else %>
            <%= image_tag(standard_foto_path, :class => 'img-rounded',
                          :style => "width:275px;height:auto") %>
        <% end %>
      </div>
      <br>

      <div class="row">
        <div class="col-xs-6">
          <% first_additional_image_path="" %>

          <% additional_images_absent=Image.where(:product_id => @product.id, :is_main => false).first.nil? %>
          <% if !additional_images_absent %>
              <% first_additional_image_path= Image.where(:product_id => @product.id, :is_main => false).first.path %>
              <%= link_to image_tag(first_additional_image_path, :class => 'img-rounded',
                                    :style => "width:120%;height:auto"), "#" %>
          <% else %>
              <%= link_to image_tag(standard_foto_path, :class => 'img-rounded',
                                    :style => "width:120%;height:auto"), "#" %>

          <% end %>
        </div>


        <div class="col-xs-6">
          <% if first_additional_image_path=="" %>
              <%= link_to image_tag(standard_foto_path, :class => 'img-rounded',
                                    :style => "width:120%;height:auto"), "#" %>
          <% else %>
              <% second_additional_image_absent= (Image.where(:product_id => @product.id, :is_main => false).length==1) %>
              <% if second_additional_image_absent %>
                  <%= link_to image_tag(standard_foto_path, :class => 'img-rounded',
                                        :style => "width:120%;height:auto"), "#" %>
              <% else %>
                  <% second_additional_image_path= (Image.where(:product_id => @product.id, :is_main => false)).
                          where.not(:path => first_additional_image_path).first.path %>
                  <%= link_to image_tag(second_additional_image_path, :class => 'img-rounded', :style => "width:120%;height:auto"), "#" %>
              <% end %>
          <% end %>
        </div>

      </div>
    </div>
    <div class="col-xs-6">
      <h4 class="text-left">Product description:</h4>
      <%= @product.descr %>

    </div>
    <div class="col-xs-3">
      <%= form_for @order_item, remote: true do |f| %>
          <h4 class="text-right">Unit Price: <span style="color: green"><%= number_to_currency @product.price %></span>
          </h4>

          <div class="input-group">
            <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
            <div class="input-group-btn">
              <%= f.hidden_field :product_id, value: @product.id %>
              <%= f.submit "Add to Cart", class: "btn btn-primary" %>
            </div>
          </div>
      <% end %>
      <br>

      <div class="text-right">
        <%= link_to "Back", products_index_url, :method => :get, :class => "btn btn-danger" %>
      </div>

    </div>
  </div>


</div>