<div id="product_info" class="well">
  <h2 class="text-center">  <%= @product.name %>
  </h2>

  <div class="row">
    <div class="col-xs-3">
      <div class="text-center">
        <%= image_tag(Image.find_by_product_id(@product.id).path, :class => 'img-rounded',
                      :style => "width:100%;height:auto") %>
      </div>
      <br>

      <div class="row">
        <div class="col-xs-6">

          <%= image_tag(Image.find_by_product_id(@product.id).path, :class => 'img-rounded',
                        :style => "width:100%;height:auto") %>
        </div>


        <div class="col-xs-6">

          <%= image_tag(Image.find_by_product_id(@product.id).path, :class => 'img-rounded',
                        :style => "width:100%;height:auto") %>
        </div>

      </div>
    </div>
    <div class="col-xs-6">
      <h4 class="text-left">Product description:</h4>
      <%= @product.descr %>

    </div>
    <div class="col-xs-3">
      <%= form_for @order_item, remote: true do |f| %>
          <h4 class="text-right">Unit Price: <span style="color: green"><%= number_to_currency @product.price %></span>
          </h4>

          <div class="input-group">
            <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
            <div class="input-group-btn">
              <%= f.hidden_field :product_id, value: @product.id %>
              <%= f.submit "Add to Cart", class: "btn btn-primary" %>
            </div>
          </div>
      <% end %>
      <br>

      <div class="text-right">
        <span class="btn btn-danger">Back</span>
      </div>

    </div>
  </div>


</div>