<!DOCTYPE html>
<html>
<head>
  <title>Viktor's first shop</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <% if request.ssl? %>
      <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
      <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
  <% else %>
      <%= stylesheet_link_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
      <%= javascript_include_tag 'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
  <% end %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
  <div id="header" class=" navbar navbar-default navbar-fixed-top row" style="background:
          linear-gradient(to top, rgba(239, 103, 87,1), rgb(105, 12, 22));">

    <div class="col-xs-3">
    </div>

    <div class="col-xs-6">
      <div class="row  text-center">
        <%= link_to "Plants Store", products_index_path, class: "store h1" %>
      </div>

      <div class="row">
        <div class="col-xs-4 plants-menu clickable-area" data-href=<%= products_index_path %>>

          <h3 class="text-center"><%= link_to "Products", products_index_path, class: "store" %></h3>
        </div>
        <div class="col-xs-4 plants-menu clickable-area" data-href=<%= home_contacts_path %>>

          <h3 class="text-center"><%= link_to "Contacts", home_contacts_path, class: "store" %></h3>
        </div>
        <div class="col-xs-4 plants-menu clickable-area" data-href=<%= home_delivery_path %>>

          <h3 class="text-center"><%= link_to "Delivery", home_delivery_path, class: "store" %></h3>
        </div>
      </div>
    </div>
    <div class="col-xs-3 text-right">
      <div class="btn-group">
        <button type="button" class="btn btn-primary">
          <% if user_signed_in? %>
              <%= current_user.email %>
          <% else %>
              Login
          <% end %>
        </button>
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <% if user_signed_in? %>
              <li><%= link_to "Current cart", cart_path %></li>
              <li><%= link_to "My orders", orders_index_path %></li>
              <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
          <% else %>
              <li><%= link_to "Sign in", new_user_session_path %></li>
              <li><%= link_to "Sign up", new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
      <% if !current_order.nil? %>
          <h1 class="cart-text"><%= render 'layouts/cart_text' %></h1>
      <% end %>
    </div>
  </div>
  <div class="container main">

    <%= yield %>

  </div>

  <div id="page-boofer">
  </div>

</div>
<br>

<div id="footer" class="row" style="color:#690c16;">
  <div class="col-xs-12">
    <div class="col-xs-6">
      <p>2015 © All Rights Reserved</p>
    </div>
    <div class="col-xs-6 text-right">
      <p>Plants shop</p>
    </div>
  </div>
</div>

</body>
</html>